<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.0/build/highlight.min.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
  <script src="/static/buffer.min.js"></script>
  <script src="/static/loginid-directweb.js"></script>

  <script>
    hljs.initHighlightingOnLoad();
  </script>

  <title>Transaction</title>
</head>

<body>
  <div id="app">
    
</body>

<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        fingerprint: `<svg width="50px" height="50px" viewBox="0 0 1000 1000">
          <g class="svgWrapper">
            <defs>
              <filter id="glow">
                <feGaussianBlur
                  class="blur"
                  result="coloredBlur"
                  stdDeviation="4"
                ></feGaussianBlur>
                <feMerge>
                  <feMergeNode in="coloredBlur"></feMergeNode>
                  <feMergeNode in="coloredBlur"></feMergeNode>
                  <feMergeNode in="coloredBlur"></feMergeNode>
                  <feMergeNode in="SourceGraphic"></feMergeNode>
                </feMerge>
              </filter>
            </defs>
            <g
              transform="translate(1.000000, 1.000000)"
              stroke="#89a8bd"
              stroke-width="5"
            >
              <path
                class="path1"
                style="
                  fill-opacity: 1;
                  fill: #ff0000;
                  stroke-width: 2;
                  stroke: #ff0000;
                  filter: url(#glow);
                "
                d="M636 938h-6q-92-24-158-90-38-38-65-103t-27-119q0-52 38-89t92-37 93 37 39 89q0 34 25 58t63 24 64-24 26-58q0-120-91-206t-219-86q-92 0-168 47t-114 125q-24 50-24 120 0 80 28 154 6 20-14 26t-26-12q-32-82-32-168 0-78 30-138 42-90 129-144t191-54q146 0 249 99t103 237q0 52-39 88t-93 36-92-36-38-88q0-34-26-59t-64-25-63 25-25 59q0 112 80 192 56 56 140 78 18 2 14 26-4 16-20 16zM530 626q0 74 55 128t137 54q4 0 18-2t23-2 18 3 11 13q4 22-18 26-24 4-52 4-80 0-132-38-102-70-102-186 0-22 22-22 20 0 20 22zM416 930q-8 0-14-6-54-54-86-114-46-80-46-184 0-94 71-162t171-68 171 68 71 162q0 20-22 20t-22-20q0-78-58-133t-140-55-140 55-58 133q0 96 38 164 26 46 80 104 16 14 0 30-6 6-16 6zM150 414q-22 0-22-20 0-4 4-12 64-92 160-140 100-52 220-52t220 52q98 48 160 138 4 8 4 12 0 14-16 20t-24-8q-60-82-144-124-92-46-200-47t-200 47q-90 46-146 126-6 8-16 8zM760 190q-8 0-10-2-118-60-238-60-130 0-238 60-10 6-20 0t-10-18q0-14 10-20 116-64 258-64 130 0 258 64 18 10 8 28-8 12-18 12z"
                id="Stroke-1"
              >
                <animate
                  attributeName="opacity"
                  dur="2s"
                  values="0.1;1;0.1"
                  repeatCount="indefinite"
                  begin="0.2"
                ></animate>
              </path>
            </g>
          </g>
        </svg>`,
        form: {
          field_1: ""
        },
        tx: {

        },
        date: null,
        time: null,
        username: ""
      }
    },
    created() {
      
      const date = new Date();
      this.date = date.toDateString();
      this.time = date.toLocaleTimeString();
    },
    methods: {
      toLabel(value) {
        return _.startCase(value);
      },
      addField() {
        const fieldName = `field_${Object.keys(this.form).length + 1}`;
        Vue.set(this.form, fieldName, "");
      },
      onPropChange(prop, newProp) {
        const value = this.form[prop];
        Vue.delete(this.form, prop);
        Vue.set(this.form, _.snakeCase(newProp), value);
      },
      async onClick() {
        LoginidApi.initializeWithBaseURL('c84df67b-4b0f-4ae4-8e5c-ba266906ad69.loginid.io', 'http://localhost:8080/api/native'); // 'https://test.native.loginid.io');
        const response = await LoginidApi.login(this.username);

        if ($("#txModal").data('bs.modal')._isShown) {
          this.closeModal()
        }
      },
      async register() {
        LoginidApi.initializeWithBaseURL('c84df67b-4b0f-4ae4-8e5c-ba266906ad69.loginid.io', 'http://localhost:8080/api/native'); // 'https://test.native.loginid.io');
        const response = await LoginidApi.register(this.username);
      },
      closeModal() {
        $('#txModal').modal('hide');
      }
    }
  })
</script>
<style>
  .animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }

  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }

    to {
      bottom: 0;
      opacity: 1;
    }
  }

  .row-center {
    display: block;
    width: 100%;
    margin: 0;
  }

  .modal.custom .modal-dialog {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10040;
    outline: none;
    overflow: hidden;
    margin-bottom: 0;
  }

  .modal-open .modal {
    overflow-y: hidden;
  }
</style>

</html>